{% extends 'base.html' %}

{% block content %}
<div class="row mx-auto col-lg-12 mx-auto">
    <div class="quiz-page-header">
        <img src="/static/images/quizards-text-logo.webp" height="150" width="375" alt="Quizards text logo">
        <div class="mb-2">
            <img src="/static/images/quiznarg3.png" height="140" width="140" alt="Quizard character">
        </div>
    </div>
    <div class="box-element question-card mx-auto login-page">
        <h2 class="welcome-header">Login</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <div class="form-buttons">
                <button type="submit" class="btn btn-warning large-btn mr-2">Login</button>
                <a href="{% url 'user_registration' %}" class="btn btn-primary large-btn">Create Account</a>
            </div>
        </form>
        <br>
    </div>
</div>
{% endblock %}